.container() {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  @media @tablet-widths {
    width: 764px;
    padding: 0 60px;
    box-sizing: border-box;
  }
  @media @desktop-widths {
    width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
  }
}

.text-light() {
  font-family: SansProLight, "Arial", serif;
}

.text-regular() {
  font-family: SansProRegular, "Arial", serif;
}

.text-semibold() {
  font-family: SansSemiBold, "Arial", serif;
}

.text-bold() {
  font-family: SansBold, "Arial", serif;
}

.text-button() {
  font-family: RalewayBold, PT Sans, sans-serif;
}

.text-lato() {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 25px;
  font-family: Lato, PT Sans, sans-serif;
}
