@tablet-widths: ~"(min-width: 910px)";
@desktop-widths: ~"(min-width: 1458px)";
@white-text-color: #ffffff;
@black-text-color: #212021;
@green-text-color: #8eb574;
@background-button-color: rgba(255, 255, 255, 0);
@line-button-white: #ffffff;
@color-button-active: #e96d73;
@color-button-hover: #d8bdbf;
@color-modal: #f8f8f8;
@background-overlay: rgba(22, 64, 114, 0.383);
@background-dekstop: #f8f8f8;