@font-face {
  font-family: "SansPro";
  src: url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts//SourceSansProRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SansProLight";
  src: url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SansProBold";
  src: url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: SansPro, Arial, sans-serif;
}
