@font_family_1: SansPro,
Arial,
sans-serif;
@font_family_2: SansProLight,
Arial,
sans-serif;
@font_family_3: SansProBold,
Arial,
sans-serif;
@font-size_1: 16px;
 @font-face {
  font-family: "SansPro";
  src: url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts//SourceSansProRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansProLight";
  src: url("../fonts/SourceSansProLight.woff2") format("woff2"), url("../fonts/SourceSansProLight.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SansProBold";
  src: url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@tablet: ~"(min-width: 764px)";
@tablet-container: 724px;
// Mode: Desktop
@desktop: ~"(min-width: 1440px)";
@desktop-container: 1180px;
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: @font_family_1;
  font-size: @font-size_1;
  font-family: @font_family_1;
}