.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: (min-width: 320px)) {
  .container {
    width: 290px;
  }
}
@media (min-width: 764px) {
  .container {
    width: 764px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
