.page-header {
  padding-bottom: 133px;
  background: url(../img/daria-mobil.jpg) 50% 50% no-repeat;
}

.page-header__container {
  .container();
  background-color: @background-overlay;
}

@media @tablet-widths {
  .page-header {
    background: none;
  }
}