.page-header {
  background: url(../img/daria-mobil.jpg) 50% 50% no-repeat;
  &__container {
    .container();
    padding-bottom: 133px;
    background: @background-overlay;
  }
}

@media @tablet-widths {
  .page-header {
    background: @background-dekstop ;
    &__container {
      background: url(../img/header-tablet.png) 100% 50% no-repeat;
    }
  }
}

@media @desktop-widths {
  .page-header {
    &__container {
      padding: 0;
      background: url(../img/header-dekstop.png) 100% 0 no-repeat;
    }
  }
}