.portfolio__bottom {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  color: @white-text-color;
  background: url(../img/pdf-mobil.jpg) 50% 50% no-repeat;
  & .portfolio__bottom--overlay {
    position: relative;
    width: 320px;
    padding-right: 60px;
    padding-left: 40px;
    padding-top: 33px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    background: @background-overlay;
    box-sizing: border-box;
    & h3 {
      margin-bottom: 12px;
      font-size: 18px;
      .text-semibold();
      text-transform: initial;
    }
    & p {
      margin-bottom: 30px;
    }
    & .portfolio__bottom--toggle {
      border-bottom: 2px solid @line-button-white;
      color: @white-text-color;
      z-index: 1;
      &::after {
        background: @white-text-color;
      }
      &:hover {
        color: @color-button-hover;
        border-bottom: 2px solid @color-button-hover;
        &::after {
          background: @color-button-hover;
        }
      }
      &:active {
        color: @color-button-active;
        border-bottom: 2px solid @color-button-active;
        &::after {
          background: @color-button-active;
        }
      }
    }
    & .icon-pdf {
      margin-top: 5px;
      width: 24px;
      height: 27px;
      box-sizing: border-box;
    }
    & .frame {
      position: absolute;
      content: "";
      width: 270px;
      height: 370px;
      top: -40px;
      left: 20px;
      border: 5px solid #8eb574;
    }
  }
}

@media @tablet-widths {
  .portfolio__bottom {
    position: relative;
    width: 100%;
    left: -60px;
    margin-bottom: 100px;
    background: url(../img/pdf-plan.jpg) 0 100% no-repeat;
    & .portfolio__bottom--background {
      position: absolute;
      content: "";
      width: 600px;
      height: 300px;
      top: -30px;
      left: 0;
      background: @background-dekstop;
      z-index: -1;
    }
    & .portfolio__bottom--overlay {
      width: 600px;
      height: 300px;
      padding-bottom: 90px;
      padding-left: 275px;
      padding-right: 0;
      color: @black-text-color;
      background: none;
      & h3 {
        margin-top: 30px;
        font-size: 24px;
      }
      & p {
        margin-top: 6px;
        margin-bottom: 15px;
        margin-right: 60px;
        font-size: 16px;
      }
      & .portfolio__bottom--toggle {
        border-bottom: 2px solid @black-text-color;
        color: @black-text-color;
        &::after {
          background: @black-text-color;
        }
      }
      & .icon-pdf {
        margin-top: 5px;
        margin-right: 70px;
        width: 24px;
        height: 27px;
        padding-right: 70px;
        box-sizing: border-box;
      }
      & .frame {
        width: 570px;
        height: 330px;
        top: -10px;
        left: 130px;
        border: 5px solid @green-text-color;
        z-index: -1;
      }
    }
  }
}

@media @desktop-widths {
  .portfolio__bottom {
    left: -50px;
    background: url(../img/pdf.jpg) 0 100% no-repeat;
    & .portfolio__bottom--background {
      width: 973px;
      height: 377px;
      top: -90px;
    }
    & .portfolio__bottom--overlay {
      width: 970px;
      height: 375px;
      padding-top: 0;
      padding-bottom: 120px;
      padding-left: 640px;
      & h3 {
        margin-top: 50px;
        font-size: 24px;
      }
      & .frame {
        width: 700px;
        height: 455px;
        top: -45px;
        left: 430px;
      }
    }
  }
}