.price {
  .container();
  padding: 0 15px;
  padding-top: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  & h3 {
    position: relative;
    font-size: 18px;
    .text-semibold();
    &::before {
      position: absolute;
      content: "";
      top: -70px;
      left: 50%;
      width: 2px;
      height: 27px;
      background: @color-line;
    }
  }
  & .price__list {
    width: 290px;
    list-style: none;
    padding-left: 0;
  }
}

@media @tablet-widths {
  .price {
    padding-top: 239px;
    padding-bottom: 200px;
    & h3 {
      font-size: 24px;
    }
    & .price__list {
      width: 644px;
      margin-top: 96px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

@media @desktop-widths {
  .price {
    & h3 {
      font-size: 36px;
    }
    & .price__list {
      width: 1110px;
      margin-bottom: 100px;
    }
  }
}