.site-list {
  position: absolute;
  top: -10px;
  left: -275px;
  width: 320px;
  margin: 0;
  padding-top: 95px;
  padding-bottom: 153px;
  padding-left: 90px;
  list-style: none;
  box-sizing: border-box;
  .site-list__item {
    width: 122px;
    margin-bottom: 25px;
    border-bottom: 3px solid #709c54;
    a {
      display: inline-block;
      color: @black-text-color;
      font-size: 22px;
      line-height: 30px;
    }
  }
}