.toggle-menu__list {
  position: relative;
  width: 30px;
  height: 30px;
  background: @background-button-color;
  outline: none;
  span {
    width: 0;
    height: 0;
  }
}

.toggle-menu__item {
  position: relative;
  width: 16px;
  height: 3px;
  margin-top: 5px;
  margin-left: 14px;
  background: @white-text-color;
  transition: all 0.5s;
}
.toggle-top {
  width: 30px;
  margin: 0;
  transform-origin: 4px 0px;
}

.toggle-bottom {
  transform-origin: bottom right;
}

.show-top {
  top: -5px;
  background: @black-text-color;
  transform: rotate(45deg) translate(8px);
  z-index: 2;
  transition: all 0.5s;
}

.show-middle {
  top: -3px;
  left: -9px;
  width: 30px;
  background: @black-text-color;
  transform: rotate(495deg) translate(4px);
  z-index: 2;
  transition: all 0.5s;
}

.show-bottom {
  transform: rotate(45deg);
  opacity: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 320px;
  height: 480px;
  top: -10px;
  left: -275px;
  background: @color-modal;
  z-index: 1;
}

@media @tablet-widths {
  .toggle-menu__list {
    .toggle-menu__item {
      margin-left: 0;
      background: @black-text-color;
    }
    input {
      background: #bd9b9b;
    }
    input:checked {
      right: -340px;
      transition: all 0.5s;
    }
    input:checked ~ .toggle-top {
      right: -340px;
    }
    input:checked ~ .toggle-middle {
      left: 343px;
    }
  }
  .overlay {
    width: 764px;
    min-height: 825px;
    top: -20px;
    left: -339px;
  }
}

@media @desktop-widths {
  .toggle-menu__list {
    margin-left: -210px;
    .toggle-menu__item {
      display: none;
    }
    input {
      display: none;
    }
  }
}
